<h1>Create User</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
      Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
      </div>
    </label>

    <label>
      Job:
      <textarea formControlName="job"></textarea>
      <div *ngIf="submitted && messageForm.controls.job.errors" class="error">
        <div *ngIf="messageForm.controls.job.errors.required">A Job is required</div>
      </div>
    </label>

    <input type="submit" value="Send message" class="cta">

  </form>

  <div *ngIf="success" class="results">
    <strong>Confirmed!</strong>
    <span>{{ messageForm.controls.name.value }} has been created!</span>
  </div>
